
<div class="container mt-4">
   
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Leave Mgt</a>
       
        <div id="navbarText">
          <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" routerLink="register">Register <span class="sr-only">(current)</span></a>
            </li>
          </ul> -->
          <span class="navbar-text">
                <a routerLink="register">
                  <button class="btn btn-deafult">
                    Register
                  </button>
                </a>
                <button class="btn btn-deafult"
                    (click)="onLogin()"
                    >
                    Login
                </button>
                <button class="btn btn-deafult"
                    (click)="onLogout()"
                    >
                    Logout
                </button>
          </span>
        </div>
      </nav>
   
    
        <router-outlet></router-outlet>
    
          
</div>